@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    color: rgb(240, 234, 234);
}
body::before {
    background-image: url(../images/background.jpg);
    background-size: contain;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
a {
    color: rgb(240, 234, 234);
}
a img {
    transition: opacity 0.2s linear;
}
a:hover img {
    opacity: 0.7;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
p {
    margin-top: 0;
    line-height: 1.6;
}
img {
    vertical-align: 0;
}

header {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
header h1 {
    text-align: center;
    margin-top: 30px;
    color: rgb(247, 183, 66);
    text-decoration: none;
}
header h1 a {
    color: rgb(247, 183, 66);
    text-decoration: none;
}
#global_navi {
    width: 980px;
    margin: 16px auto;
}
#global_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#global_navi ul li {
    width: 195px;
    margin-right: 1px;
    text-align: center;
    float: left;
}
#global_navi ul li a {
    display: block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: background-color 0.2s linear;
}
#global_navi ul li.current a {
    background-color: rgb(77, 77, 77);
}
#global_navi ul li a:hover {
    background-color: rgb(49, 49, 49);
}

#wrapper {
    width: 980px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}
#breadcrumb {
    font-size: smaller;
}
#breadcrumb ol {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}
#breadcrumb ol li {
    display: inline;
}
#breadcrumb ol li::after {
    content: ">";
    padding-left: 7px;
}
#breadcrumb ol li:last-child::after {
    content: none;
}
#breadcrumb ol li a {
    color: rgb(247, 183, 66);
}
#breadcrumb ol li a:hover {
    color: rgb(255, 166, 0);
}
#initial_message {
    text-align: center;
    margin: 30px 0 30px 0;
}
#main {
    width: 700px;
    float: left;
    color: black;
    background-color: rgba(223, 186, 138, 0.475);
    border-radius: 5px;
    /* 
     * ただ水平線を引いたりするだけなら両端のスペースを等しく空けた方がいいかもしれないが、
     * 日本語を表示した際に、左側の間隔よりも右側の間隔の方が余分に大きく感じてしまうため、
     * 右側の padding は 5px だけ小さくしている。
     * （その分 #main の width は 5px 大きくできる。（サイドバーとの間隔を考慮して））
     * #main + #mainの左右のpadding + #sidebar + #mainと#sidebarの間隔 = 980px
     */
    padding: 30px 10px 10px 15px; /* 上 右 下 左 */
}
#main article p {
    padding-top: 0;
    padding-bottom: 15px;
}
#main article h1 a {
    color: rgb(11, 78, 221);
    padding-bottom: 0;
}
#main article h1 a:hover {
    color: rgb(4, 0, 255);
    text-decoration: none;
    font-weight: bold;
}
.head_title {
    margin-left:35px;
    font-style: italic;
    margin-bottom: 25px;
}
#main article p a {
    color: blue;
}
#main article p a:hover {
    text-decoration: none;
    font-weight: bold;
}
#sidebar {
    width: 230px;
    float: right;
    color: black;
    background-color: rgba(223, 186, 138, 0.475);
    border-radius: 5px;
}
#side_banner {
    margin-bottom: 15px;
}
#side_banner h2 {
    background-color: rgb(202, 134, 46);
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#side_banner ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#side_banner ul li {
    text-align: center;
}
#side_banner ul li a img {
    width: 80px;
    height: auto;
    margin-top: 0;
}
#side_contact h2 {
    background-color: rgb(202, 134, 46);
    text-align: center;
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#side_contact p {
    text-align: center;
}
#side_contact p a {
    display: inline-block;
    color: black;
    background: #f1ede4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%, #b6af9f));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#b6af9f 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#b6af9f 100%);
    padding: 3px 10px 3px 10px;
    border: 1px solid #808080;
    border-radius: 5px;
    text-decoration: none;
}
#side_contact p a:hover {
    background: #94928d;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94928d), color-stop(100%, #b6af9f));
    background: -webkit-linear-gradient(top,  #94928d 0%,#b6af9f 100%);
    background: linear-gradient(to bottom,  #94928d 0%,#b6af9f 100%);
    border: 1px solid #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

footer {
    background-color: rgba(0, 0, 0, 0.675);
    text-align: center;
    margin-top: 30px;
}
footer #footer_navi {
    background-color: rgba(255, 255, 255, 0.253);
    padding: 5px 0;
}
footer #footer_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer #footer_navi ul li {
    display: inline;
    border-left: solid 1px rgb(255, 252, 252);
    margin-left:8px;
    padding-left: 10px;
    font-size: smaller;
}
footer #footer_navi ul li a:hover {
    text-decoration: none;
}
footer #footer_navi ul li:last-child {
    border-right: solid 1px rgb(255, 252, 252);
    padding: 0 10px;
}
footer small {
    display: block;
    padding: 8px 0;
    color: #ffffff;
}

#omurice_man {
    width: 350px;
    height: auto;
    float: left;
}
#about_me h2 {
    float: right;
    margin-right: 35px;
    margin-top: 180px;
}
#introduction {
    clear: both;
    padding-top: 25px;
}
#about_me {
    margin-bottom:18px;
}
#about_me h3 {
    margin-bottom: 0;
    text-decoration: underline;
}
#about_me ul {
    margin-top: 10px;
}
#about_me #intro_link {
    margin-top: 18px;
}
#about_me ul li a {
    color: blue;
}
#about_me ul li a:hover {
    text-decoration: none;
}

#bbs_submit ul {
    list-style: none;
    padding: 0;
}
#bbs_submit ul li {
    margin-bottom: 5px;
}
#bbs_submit ul li textarea{
    resize: none;
    /* width: 680px; */
    width: 85%;
    height: 100px;
}
#bbs_submit_send {
    text-align: left;
    margin: 0;
}
#bbs_submit_send input {
    background: #f1ede4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%, #b6af9f));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#b6af9f 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#b6af9f 100%);
    border: 1px solid #808080;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
}
#bbs_submit_send input:hover {
    background: #94928d;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94928d), color-stop(100%, #b6af9f));
    background: -webkit-linear-gradient(top,  #94928d 0%,#b6af9f 100%);
    background: linear-gradient(to bottom,  #94928d 0%,#b6af9f 100%);
    border: 1px solid #000000;
    color: #ffffff;
    border: 1px solid #000000;
}
.contentsOfBbs {
    border-top: 1px solid black;
    padding-top: 10px;
    margin-top: 10px;
}
.contentsOfBbs p {
    margin-bottom: 0;
    overflow-wrap: break-word;
}
.contentsOfBbs_color {
    color: #006600;
}
.contentsOfBbs_bold {
    font-weight: bold;
}
.contentsOfBbs_adminLink {
    text-decoration: none;
}
.contentsOfBbs_kannrininn {
    color: #000080;
}
.contentsOfBbs_contents {
    font-weight: bold;
}
.contentsOfBbs_date {
    text-align: right;
}
.contentsOfBbs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contentsOfBbs_deleteButton {
    padding-top: 5px;
    padding-bottom: 10px;
}
.contentsOfBbs_deleteButton input {
    background: #f1ede4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%, #b6af9f));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#b6af9f 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#b6af9f 100%);
    border: 1px solid #808080;
    border-radius: 5px;
    text-decoration: none;
    padding: 2px 5px 2px 5px;
}
.contentsOfBbs_deleteButton input:hover {
    background: #94928d;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94928d), color-stop(100%, #b6af9f));
    background: -webkit-linear-gradient(top,  #94928d 0%,#b6af9f 100%);
    background: linear-gradient(to bottom,  #94928d 0%,#b6af9f 100%);
    border: 1px solid #000000;
    color: #ffffff;
    border: 1px solid #000000;
}
/* 
 * #bbs_page 単独指定では、
 * style.css 上部で指定した「#main article p」への修飾が効いたままになる。
 */
#main article #bbs_page {
    margin: 10px 0 0 0;
    padding: 15px 0 5px 0;
    border-top: 1px solid black;
    overflow-wrap: break-word;
}
#bbs_page a {
    color: #0039e6;
}
#bbs_page a:hover {
    text-decoration: none;
}

#bbs_error_back a {
    color: #0039e6;
    font-weight: bold;
}
#bbs_error_back a:hover {
    text-decoration: none;
}

@media screen and (max-width : 768px) {
    img {
        max-width: 100%;
    }
    header, #global_navi, #sidebar, #wrapper, #main {
        width: 100%;
    }
    header h1 {
        float: none;
        text-align: center;
    }
    #global_navi ul li {
        width: 50%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    #global_navi ul li:nth-child(even) {
        padding-left: 1px;
    }
    #global_navi ul li:nth-child(odd) {
        padding-right: 0.5px;
    }
    #global_navi ul li:nth-child(-n+4) {
        margin-bottom: 1px;
    }
    #global_navi ul li a {
        margin: 0;
    }
    #global_navi ul li:last-child {
        padding: 0;
        width: 100%;
    }
    #breadcrumb {
        margin-left: 5%;
    }
    #initial_message {
        padding: 0 5%;
    }
    #main {
        padding: 10% 0 5% 0;
    }
    article {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
    }
    #sidebar {
        margin-top: 10%;
    }
    #side_banner ul li a img {
        margin: 0;
    }
    #side_banner ul li {
        text-align: center;
    }
    #omurice_man {
        float: none;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    #about_me h2 {
        float: none;
        margin: 10% 0 0 0;
    }
    #bbs_submit ul li textarea{
        width: 100%;
    }
    .contentsOfBbs_deleteButton {
        padding-bottom: 5px;
    }
    #main article #bbs_page {
        padding: 5% 0 0 0;
    }
}
